@import './../../../../styles.scss';
@import './../../../colors';
input {
    display: block;
    height: 60px;
    min-width: 450px;
    border-radius: 2px;
    font-size: 1.1rem;
    box-sizing: border-box;
    padding: 5px 0px 5px 10px;
    border: solid 1px #8c8c8c;
    color: #000;
}

button {
    background-color: $netflixRed;
    color: white;
    border-radius: 2px;
    box-sizing: border-box;
    min-width: 74px;
    padding: 0 40px 0 30px;
    font-size: 1.6rem;
    letter-spacing: 1px;
    border: 1px solid black;
}

span {
    filter: invert(1);
    position: absolute;
    right: 3%;
    top: 32%;
}
