// // navbar //
nav {
    height: 65px;
    background-color: black;
    color: white;
}

.logo {
    width: 7rem;
    margin-left: 2.5rem;
}

.hero {
    background-image: url("./../../assets/sfondofriends.webp");
    height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logofilm {
    width: 25rem;
    height: 15rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
    z-index: 2;
    position: relative;
}

.buttons {
    margin-left: 5rem;
    margin-bottom: 7rem;
    display: flex;
    button {
        display: flex;
        align-items: center;
        padding: 0px 15px;
        height: 2.7rem;
    }
}

p {
    max-width: 30rem;
    margin-left: 5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
    line-height: 2rem;
}

#user {
    background-image: url('./../../assets/La-Casa-de-Papel_Profile-Icon_01_Denver.jpg');
    background-position: center;
    background-size: cover;
    width: 32px;
    height: 32px;
}

.media-container {
    background-color: black;
}

#userspec{
  width: 8rem;
  height: 12rem;
  background-color: black;
  border-radius: 5px;

}

#sezione{
  width: 2rem;
  margin-top: 5px
}

.carder{
width: 218px;
height: 123px;
background-position: center;
background-size:cover;
border: 1px solid black;

}
.pippo{
  height: 10rem;
  background-color: black;
  color: white;
}
.paperino{
  font-size: 1rem;
}
.topolino{
  margin-top: 10%
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
// footer

a {
  color: #6C757D;
  cursor: pointer;
  margin-bottom: 10px;
}

#language {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(185, 185, 185);
  border: 1px solid #757575;
  font-size: .875rem;
  line-height: 1.3rem;
  padding: 10px;
}

#footer {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 300px;

}

.d-inline-block {
  // border: solid white 1px;
  width: 10%;
  margin-left: 167px;
}

// .bc-bl {
//     border-bottom: solid grey 1px;
//     border-left: solid grey 1px;
//     border-right: solid grey 1px;
//     border-radius: 0%;
// }
.btn-wt {
  color: white;
  border: 1px solid #aaa;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  background-color: black;
  // opacity: 0.6;
  // font-size: 15px;
}

// .opt-grp {
//     color: #c4c4c4;
//     text-align: right;
//     padding-right: 40px;
//     &:hover {
//         background-color: rgb(107, 116, 255);
//     }
// }
.img-min {
  max-width: 25%;
  padding-right: 5px;
}
