@import './../../../colors';
nav {
    width: 175vh;
    background-color: transparent;
}

.netflix-logo {
    width: 13rem;
}

.login-button {
    background-color: $netflixRed;
    padding: 0px 13px;
    border-radius: 3px;
    line-height: 32px;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

.nav-buttons {
    min-width: 20%;
    display: flex;
    justify-content: space-evenly;
}