<!-- <div class="container mb-4 mt-4 p-0">
  <div class="row">
    <div class="col">
      <ul class="nav flex-column">
        <li><a href="#" class="cl-gr">Domande frequenti</a></li>
        <li><a href="#" class="cl-gr">Rapporti con gli investitori</a></li>
        <li><a href="#" class="cl-gr">Come guardare Netflix</a></li>
        <li><a href="#" class="cl-gr">Informazioni sull'azienda</a></li>
        <li><a href="#" class="cl-gr">Solo su Netflix</a></li>
      </ul>
    </div>
    <div class="col">
      <ul class="nav flex-column">
        <li><a href="#" class="cl-gr">Centro assistenza</a></li>
        <li><a href="#" class="cl-gr">Opportunità di lavoro</a></li>
        <li><a href="#" class="cl-gr">Condizioni di utilizzo</a></li>
        <li><a href="#" class="cl-gr">Contattaci</a></li>
      </ul>
    </div>
    <div class="col">
      <ul class="nav flex-column">
        <li><a href="#" class="cl-gr">Account</a></li>
        <li><a href="#" class="cl-gr">Riscatta carte regalo</a></li>
        <li><a href="#" class="cl-gr">Privacy</a></li>
        <li><a href="#" class="cl-gr">Test di velocità</a></li>
      </ul>
    </div>
    <div class="col">
      <ul class="nav flex-column">
        <li><a href="#" class="cl-gr">Media Center</a></li>
        <li><a href="#" class="cl-gr">Acquista carte regalo</a></li>
        <li><a href="#" class="cl-gr">Preferenze per i cookie</a></li>
        <li><a href="#" class="cl-gr">Note legali</a></li>
      </ul>
    </div>
  </div>
</div> -->


<div class="container mb-4 mt-4 p-0">
  <div class="row">
    <div class="col" *ngFor="let link of links">
      <ul class="nav flex-column">
        <li><a href="#" class="cl-gr">{{link.name1}}</a></li>
        <li><a href="#" class="cl-gr">{{link.name2}}</a></li>
        <li><a href="#" class="cl-gr">{{link.name3}}</a></li>
        <li><a href="#" class="cl-gr">{{link.name4}}</a></li>
        <li><a href="#" class="cl-gr">{{link.name5}}</a></li>
      </ul>
    </div>
  </div>
</div>
