@import './../../colors';
nav {
    position: absolute;
    left: 0;
    right: 0;
}

.netflix-logo {
    width: 11rem;
}

.login-button {
    background-color: $netflixRed;
    padding: 7px 17px;
    border-radius: 3px;
    line-height: 22px;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

.nav-buttons {
    min-width: 20%;
    display: flex;
    justify-content: space-evenly;
}