.d-inline-block {
    // border: solid white 1px;
    width: 40%;
}

// .bc-bl {
//     border-bottom: solid grey 1px;
//     border-left: solid grey 1px;
//     border-right: solid grey 1px;
//     border-radius: 0%;
// }
.btn-wt {
    color: white;
    border: 1px solid #aaa;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    background-color: black;
    // opacity: 0.6;
    // font-size: 15px;
}

// .opt-grp {
//     color: #c4c4c4;
//     text-align: right;
//     padding-right: 40px;
//     &:hover {
//         background-color: rgb(107, 116, 255);
//     }
// }
.img-min {
    max-width: 25%;
    padding-right: 5px;
}