@font-face {
    font-family: 'NFSans_Regular';
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2);
}

@font-face {
    font-family: 'NFSans_Medium';
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2);
}

@font-face {
    font-family: 'NFSans_Light';
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff);
}

* {
    font-family: 'NFSans_Regular';
}

ngb-accordion {
    .card {
        background-color: #303030;
        color: #ffffff;
        border: 1px solid black;
        border-radius: 0;
        width: 800px;
        font-size: 1.4rem;
    }
    .card-header {
        border-top: 8px solid black;
        border-bottom: 1px solid black;
        width: 800px;
        height: 75px;
        padding: 0;
        .btn {
            text-align: left;
            background-color: #303030;
            border-radius: 0;
            font-size: 1.6rem;
            color: #ffffff;
            min-width: 100%;
            min-height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:focus {
                border: none;
                outline: none;
                text-decoration: none;
                box-shadow: none;
            }
            &:hover {
                text-decoration: none;
            }
            // span {
            //     font-size: 2rem;
            //     float: right;
            // }
        }
    }
}

@import '~bootstrap/scss/bootstrap';