<div class="d-flex flex-column justify-content-center align-items-center">
<h1 class="text-center mb-5 pt-5">Domande frequenti</h1>

<ngb-accordion [closeOthers]="true">
  <ngb-panel *ngFor="let faq of faqs">
    <ng-template ngbPanelTitle>
    {{faq.question}} <span>+</span>
    </ng-template>
  <ng-template ngbPanelContent><p [innerText]="faq.answer"></p>  </ng-template>
  </ngb-panel>
</ngb-accordion>

<h5 class="text-center text-white mt-5 pb-3">Vuoi guardare Netflix? Inserisci l'indirizzo email per abbonarti o riattivare il tuo abbonamento.</h5>

<img src="../../../assets/placeholderForm.png" class="pb-5">
</div>
