
<div class="container login-form">
  <div class="mb-3">
   <h1>Accedi</h1>
  </div>
  <form action="">
    <div class="mb-4">
      <input type="text" name="name" class="form-control" placeholder="Email o numero di telefono" required ngModel #nameField="ngModel">
      <p *ngIf="nameField.touched && nameField.invalid" class="text-danger"><small>Inserisci un indirizzo email o numero di telefono valido.</small></p>
    </div>

    <div class="mb-4">
      <input type="password" name="password" class="form-control" placeholder="Password" required ngModel #passwordField="ngModel">
      <p *ngIf="passwordField.touched && passwordField.invalid" class="text-danger"><small>La password deve avere una lunghezza compresa tra 4 e 60 caratteri.</small></p>
    </div>

    <div class="">
      <button class="w-100 btn btn-lg btn-danger  mt-3" type="submit">Accedi</button>
    </div>

    <div class="checkbox mb-3 d-flex direction-row justify-content-between">
      <label>
        <input type="checkbox" value="remember-me"> Ricordami
      </label>
      <a href="">Serve aiuto?</a>
    </div>

    <div class="other-login">
      <div class="fb-minimal">
        <hr>
        <button class="btn minimal-login btn-submit btn-small" >
          <div class="fb-login">
            <img class="icon-facebook" src="https://assets.nflxext.com/ffe/siteui/login/images/FB-f-Logo__blue_57.png">
            <span class="fbBtnText">Accedi con Facebook</span>
          </div>
        </button>
      </div>
    </div>
  </form>
</div>

