<div class="login-form">
    <div class="mb-3">
        <h2>Accedi</h2>
    </div>
    <form [formGroup]="credentials" (ngSubmit)="logIn()">

        <div class="mb-3">
            <input formControlName="emailNumber" [class.error]="emailNumber.touched && emailNumber.invalid" class="form-control " placeholder="Email o numero di telefono">
            <p *ngIf="emailNumber.touched && emailNumber.invalid && isNumber === true" class="warning-message"><small>Inserisci un numero di telefono valido.</small></p>
            <p *ngIf="emailNumber.touched && emailNumber.invalid && isNumber === false" class="warning-message"><small>Inserisci un indirizzo email valido.</small></p>
            <p *ngIf="emailNumber.touched && emailNumber.invalid && isNumber === undefined" class="warning-message"><small>Inserisci un indirizzo email o numero di telefono valido.</small></p>
        </div>
        <div class="mb-4">
            <input formControlName="password" [class.error]="password.touched && password.invalid" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            <p *ngIf="password.touched && password.invalid" class="warning-message"><small>La password deve avere una lunghezza compresa tra 4 e 60 caratteri.</small></p>
        </div>
        <div class="button">
            <button routerLink="/user" [disabled]="credentials.invalid" class="w-100 btn btn-lg active mt-3" data-bs-toggle="button" autocomplete="off" aria-pressed="true" type="submit">Accedi</button>
        </div>

        <div class="checkbox d-flex direction-row justify-content-between">
            <label> Ricordami
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
            <a href="">Serve aiuto?</a>
        </div>

        <div class="other-login">
            <div class="fb-minimal">
                <hr>
                <button class="btn minimal-login btn-submit btn-small">
          <div class="fb-login">
            <img class="icon-facebook" src="https://assets.nflxext.com/ffe/siteui/login/images/FB-f-Logo__blue_57.png">
            <span class="fbBtnText">Accedi con Facebook</span>
          </div>
        </button>
            </div>
            <div>
                <p>Prima volta su netflix?<a href="">Registrati.</a></p>
            </div>
            <div class="recaptcha-terms">
                <p>
                    <span>Questa pagina è protetta da Google reCAPTCHA per garantire che tu non sia un bot.</span>
                    <button (click)="info()" *ngIf="unclicked; else clicked">{{ unclicked }}</button>
                </p>
                <ng-template #clicked>
                    <div class="recaptcha-terms-hidden">
                        <span>
              Le informazioni raccolte da Google reCAPTCHA sono soggette alle<a class="terms-link" href="https://policies.google.com/privacy">Norme sulla privacy</a> e ai<a class="terms-link" href="https://policies.google.com/terms">Termini di servizio</a> di Google e vengono utilizzate per fornire, mantenere e migliorare il servizio reCAPTCHA e per fini di sicurezza generale (non sono utilizzate per gli annunci personalizzati di Google).
            </span>
                    </div>
                </ng-template>
            </div>
        </div>
    </form>
</div>