<div id="footer" class="fixed-bottom">
<div class="container text-secondary mt-5">
      <p>Domande? Chiama
          <a href="tel:800-130-364">800-130-364</a>
      </p>
  <!---------------------------- GRID ---------------------------->
      <div class="row row-cols-4 p-3 ">
          <a href="#">Domande frequenti</a>
          <a href="#">Centro Assistenza</a>
          <a href="#">Condizioni di utilizzo</a>
          <a href="#">Privacy</a>
          <a href="#">Preferenze per i cookie</a>
          <a href="#">Informazioni sull'azienda</a>
      </div>
  <!---------------------------- SELEZIONE LINGUA FOOTER ---------------------------->
  <select class="mb-3 mt-2" id="language" name="languages">
          <option value="italiano">Italiano</option>
          <option value="inglese">Inglese</option>
      </select>
  </div>
</div>
