<div id="footer" class="static-bottom">
    <div class="container text-secondary mt-5">
        <p>Domande? Chiama
            <a href="tel:800-130-364">800-130-364</a>
        </p>
        <!---------------------------- GRID ---------------------------->
        <div class="row row-cols-4 p-3 ">
            <a href="#">Domande frequenti</a>
            <a href="#">Centro Assistenza</a>
            <a href="#">Condizioni di utilizzo</a>
            <a href="#">Privacy</a>
            <a href="#">Preferenze per i cookie</a>
            <a href="#">Informazioni sull'azienda</a>
        </div>
    </div>
    <div ngbDropdown class="d-inline-block">
        <button class="btn btn-wt" id="dropdownBasic1" ngbDropdownToggle>
          <img src="../assets/world.png" class="img-min">Italiano
      </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="bc-bl">
            <button ngbDropdownItem class="opt-grp">Italiano</button>
            <button ngbDropdownItem class="opt-grp">English</button>
        </div>
    </div>
</div>