.bc-bl{
  background-color: black;
  border-bottom: solid grey 1px;
  border-left: solid grey 1px;
  border-right: solid grey 1px;
  border-radius: 0%;
}

.btn-wt{
  color: white;
  border: 1px solid white;
  padding: 10px;
  opacity: 0.6;
  font-size: 16px;
}

.opt-grp{
  color: #c4c4c4;
  text-align: right;
  padding-right: 40px;
  &:hover{
    background-color: rgb(107, 116, 255);
  }
}

.img-min{
  max-width: 25%;
  padding-right: 10px;
}
