$gradient-bgImg: linear-gradient(to top, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .8) 100%);
$hero-bgImg: url("https://assets.nflxext.com/ffe/siteui/vlv3/c16cf196-e89e-4c46-8cc7-f2eca6fb0762/986c39a0-10be-4467-b1a9-f5298a7e7bb2/IT-it-20220103-popsignuptwoweeks-perspective_alpha_website_small.jpg");
$netflixRed: #e50914;